# Python
*.pyc
__pycache__/
venv/
*.env
*.pt

# Jupyter Notebook
.ipynb_checkpoints/

flagged

# IDE
.vscode/
.idea/

# Compiled files
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Environment
.env

# Dependency directories
env/
lib/
libs/
venv/
